.contact {
  min-height: 90vh;
  background: radial-gradient(circle at bottom left,rgba(26, 42, 79, 1) 26%, rgba(16, 28, 48, 1) 39%, rgba(11, 22, 35, 1) 69%);
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  padding: 40px;
}

.contact-container {
  display: flex;
  width: 100%;
  max-width: 1200px;
  justify-content: space-between;
  gap: 60px;
}

/* LEFT SIDE */
.contact-left {
  flex: 1;

  h1 {
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 20px;

    span {
      background: linear-gradient(90deg, #ff4ecd, #6cf);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }

  h2 {
    margin-bottom: 40px;
    font-weight: 400;
    opacity: 0.8;
  }
}

.contact-info {
  display: flex;
  gap: 60px;

  h3 {
    margin-bottom: 10px;
    font-size: 14px;
    opacity: 0.6;
  }

  a {
    color: #6cf;
    text-decoration: none;
  }

  .icons {
    display: flex;
    gap: 15px;
    font-size: 20px;
    cursor: pointer;

    svg {
      transition: 0.3s;
    }

    svg:hover {
      color: #ff4ecd;
    }
  }
}

/* RIGHT SIDE */
.contact-right {
  flex: 1;
}

.contact-form {
  display: flex;
  flex-direction: column;
  gap: 20px;

  h2 {
    margin-bottom: 20px;
    font-weight: 500;
  }

  label {
    font-size: 14px;
    opacity: 0.7;
  }

  input,
  textarea {
    padding: 15px;
    border-radius: 30px;
    border: 1px solid #2c3e50;
    background: transparent;
    color: white;
    outline: none;
  }

  textarea {
    border-radius: 20px;
    min-height: 120px;
    resize: none;
  }

  button {
    margin-top: 10px;
    width: 140px;
    padding: 12px;
    border-radius: 30px;
    border: none;
    background: linear-gradient(90deg, #00c6ff, #ff4ecd);
    color: white;
    cursor: pointer;
    transition: 0.3s;
    box-shadow: 0 0 15px rgba(0, 198, 255, 0.4);
  }

  button:hover {
    transform: scale(1.05);
    box-shadow: 0 0 25px rgba(255, 78, 205, 0.6);
  }
}

/* STATUS */
.status {
  margin-top: 10px;
  font-size: 14px;
}

/* RESPONSIVE */
@media (max-width: 900px) {
  .contact-container {
    flex-direction: column;
    text-align: center;
  }

  .contact-info {
    justify-content: center;
  }

  .contact-form button {
    margin: 0 auto;
  }
}